{% extends "web/layout.njk" %}

{% block page_title %} Forgot Password | {{ app_name }} {% endblock page_title %}

{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center justify-content-center mt-5">
          <img src="/public/assets/images/9ce470f7c9fa1dd7f2d9eae21dab56dbc197191f.png" alt="Welcome Image" class="img-fluid" />
        </div>
        <div class="col-lg-6 mt-4">
          <div class="p-4 mt-4">
            <h4>Account Recovery</h4>
            <form id="forgot-password">
              <div class="form-group">
                <label for="identity">Email / Username</label>
                <input type="text" name="identity" class="form-control" id="identity" placeholder="Email / Username" />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Request Password Reset</button>
            </form>
            <p class="my-4 px-1">
              <a href="{{ webRoute('/sign-in') }}" class="float-left">Sign in</a>
              <a href="{{ webRoute('/sign-up') }}" class="float-right">Sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_script %}
<script type="text/javascript" nonce="{{ nonce }}">
jQuery(() => {
  $('form#forgot-password').on('submit', (e) => {
    e.preventDefault();

    setFormDisabled(true);
    $('input').removeClass('is-invalid');
    $('.error.invalid-feedback').remove();

    const identity = $('input#identity').val();

    $.ajax({
      url: '/api/auth/forgot-password',
      method: 'POST',
      data: { identity },
      success: (response) => {
        setFormDisabled(false);
        Swal.fire({
          icon: 'success',
          title: 'Password Reset Request Sent!',
          html: `A verification code has been sent to your email <b>${response.email}</b>. Please check your inbox and follow the instructions.`,
          confirmButtonText: 'OK',
          allowOutsideClick: false,
        }).then((result) => {
          window.location.href = "{{ webRoute('/verification') }}";
        });
      },
      error: (error) => {
        setFormDisabled(false);
        if (error.responseJSON?.statusCode === 400) {
          error.responseJSON.data.map((item) => {
            const inputElement = $(`input#${item.path}`);
            inputElement.addClass('is-invalid');
            inputElement
              .parent()
              .append(`<span class="error invalid-feedback">${item.message}</span>`);
            return true;
          });
        }

        SwalToast().fire({
          icon: 'error',
          title: 'Request failed',
          text: error.responseJSON?.message || 'Please try again later',
        });
      },
    });
  });
});
</script>
{% endblock page_script %}
