{% extends "web/layout.njk" %}

{% block page_title %} Reset Password | {{ app_name }} {% endblock page_title %}

{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center justify-content-center mt-5">
          <img src="/public/assets/images/75d1dfe0bb95ce5fa5c5c6562a6e1e22a945c020.png" alt="Welcome Image" class="img-fluid">
        </div>
        <div class="col-lg-6 mt-4">
          <div class="p-4 mt-4">
            <form id="reset-password">
              <label for="newPassword">New password</label>
              <div class="form-group">
                <div class="input-group mb-3">
                  <input id="newPassword" type="password" class="form-control" placeholder="New password" autocomplete="off">
                  <div class="input-group-append password-toggle" style="cursor: pointer;">
                    <div class="input-group-text input-group-icon" style="max-width: 38px; justify-content: center; align-items: center;">
                      <span class="fas fa-eye-slash"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <div class="input-group mb-3">
                  <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm password" autocomplete="off">
                  <div class="input-group-append password-toggle" style="cursor: pointer;">
                    <div class="input-group-text input-group-icon" style="max-width: 38px; justify-content: center; align-items: center;">
                      <span class="fas fa-eye-slash"></span>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset password</button>
            </form>
            <p class="my-4 px-1">
              <a href="{{ webRoute('/sign-in') }}" class="float-left">Sign in</a>
              <a href="{{ webRoute('/sign-up') }}" class="float-right">Sign up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_script %}
<script type="text/javascript" nonce="{{ nonce }}">
jQuery(() => {
  $('.password-toggle').on('click', function (e) {
    e.preventDefault();
    showHidePassword(this);
  });

  $('form#reset-password').on('submit', (e) => {
    e.preventDefault();

    setFormDisabled(true);
    $('input').removeClass('is-invalid');
    $('.error.invalid-feedback').remove();

    const newPassword = $('input#newPassword').val();
    const confirmPassword = $('input#confirmPassword').val();
    const token = localStorage.getItem('reset-password-token') || '{{ resetPassword }}';

    $.ajax({
      url: '{{ apiRoute("/auth/reset-password") }}',
      method: 'POST',
      data: { newPassword, confirmPassword, token },
      success: (response) => {
        setFormDisabled(false);
        Swal.fire({
          icon: 'success',
          title: 'Password Reset Successful!',
          html: `Your password has been successfully updated.<br>Please sign in using your new password`,
          confirmButtonText: 'OK',
        }).then((result) => {
          localStorage.removeItem('reset-password-token');
          window.location.href = "{{ webRoute('/sign-in') }}";
        });
      },
      error: (error) => {
        setFormDisabled(false);
        if (error.responseJSON?.statusCode === 400) {
          if (error.responseJSON.data) {
            error.responseJSON.data.map((item) => {
              const inputElement = $(`input#${item.path}`);

              inputElement.addClass('is-invalid');
              inputElement
                .parent()
                .append(`<span class="error invalid-feedback">${item.message}</span>`);
              return true;
            });
          }
        }

        SwalToast().fire({
          icon: 'error',
          title: 'Password reset failed',
          text: error.responseJSON?.message || 'Please try again later',
        });
      },
    });
  });
});
</script>
{% endblock page_script %}
