{% extends "admin/auth/layout.njk" %}

{% block page_title %} Forgot Password | {{ app_name }} {% endblock page_title %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{{ webRoute() }}" class="h1"><b>{{ app_name }}</b></a>
    </div>
    <div class="card-body">
      <form id="forgot-password" class="my-2">
        <div class="input-group mb-3">
          <input id="identity" type="text" class="form-control" placeholder="Email / Username" />
          <div class="input-group-append">
            <div class="input-group-text input-group-icon" style="max-width: 38px; justify-content: center; align-items: center;">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request Password Reset</button>
          </div>
        </div>
      </form>
      <p class="mb-1 px-1">
        <a href="{{ webRoute() }}" class="float-left">Home</a>
        <a href="{{ adminRoute('/sign-in') }}" class="float-right">Sign in</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_script %}
<script type="text/javascript" nonce="{{ nonce }}">
jQuery(() => {
  $('form#forgot-password').on('submit', (e) => {
    e.preventDefault();

    setFormDisabled(true);
    $('input').removeClass('is-invalid');
    $('.error.invalid-feedback').remove();

    const identity = $('input#identity').val();

    $.ajax({
      url: '{{ apiRoute("/auth/forgot-password") }}',
      method: 'POST',
      data: { identity },
      success: (response) => {
        setFormDisabled(false);
        Swal.fire({
          icon: 'success',
          title: 'Password Reset Request Sent!',
          html: `A verification code has been sent to your email <b>${response.email}</b>. Please check your inbox and follow the instructions.`,
          confirmButtonText: 'OK',
          allowOutsideClick: false,
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "{{ webRoute('/verification') }}";
          }
        });
      },
      error: (error) => {
        setFormDisabled(false);
        if (error.responseJSON?.statusCode === 400) {
          error.responseJSON.data.map((item) => {
            const inputElement = $(`input#${item.path}`);
            inputElement.addClass('is-invalid');
            inputElement
              .closest('.input-group.mb-3')
              .append(`<span class="error invalid-feedback">${item.message}</span>`);
            return true;
          });
        }

        SwalToast().fire({
          icon: 'error',
          title: 'Request failed',
          text: error.responseJSON?.message || 'Please try again later',
        });
      },
    });
  });
});
</script>
{% endblock page_script %}
