<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock page_title %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="{{ assetsUrl('/public/assets/adminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('/public/assets/adminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('/public/assets/adminLTE-3.2.0/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ assetsUrl('/public/assets/sweetalert2/sweetalert2.min.css') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetsUrl('/public/assets/images/brand/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ assetsUrl('/public/assets/images/brand/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assetsUrl('/public/assets/images/brand/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ assetsUrl('/public/assets/images/brand/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assetsUrl('/public/assets/images/brand/favicon-16x16.png') }}">
  <link rel="icon" href="{{ assetsUrl('/public/assets/images/brand/favicon.ico') }}" type="image/x-icon">
  <link rel="manifest" href="{{ assetsUrl('/public/manifest.json') }}">
  <meta name="msapplication-config" content="{{ assetsUrl('/public/browserconfig.xml') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ assetsUrl('/public/assets/images/brand/ms-icon-144x144.png') }}">
  <meta name="theme-color" content="#ffffff">
  {% block page_style %}{% endblock page_style %}
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
<div class="wrapper">
  {% include "web/components/navbar.njk" %}
  {% block content %}{% endblock content %}
  <aside class="control-sidebar control-sidebar-dark"></aside>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      version : {{ version }}
    </div>
    <strong>Copyright &copy; {{ moment().year() }} <a href="https://github.com/agoenks29D/exzly">Exzly</a>.</strong> All rights reserved.
  </footer>
</div>
</body>
<script type="text/javascript" nonce="{{ nonce }}">
const createRoute = (routeName, routePath = '') => {
  let route;
  const appRoute = JSON.parse('{{ appRoute | json }}');

  switch (routeName) {
    case 'web':
      route = appRoute.web + routePath;
      break;

    case 'api':
      route = appRoute.api + routePath;
      break;

    case 'admin':
      route = appRoute.admin + routePath;
      break;
  }

  return route.replace(/\/{2,}/g, '/');
};
</script>
<script src="/ws/socket.io.min.js"></script>
<script src="{{ assetsUrl('/public/assets/adminLTE-3.2.0/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ assetsUrl('/public/assets/adminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ assetsUrl('/public/assets/adminLTE-3.2.0/js/adminlte.min.js') }}"></script>
<script src="{{ assetsUrl('/public/assets/sweetalert2/sweetalert2.min.js') }}"></script>
<script src="{{ assetsUrl('/public/global.js') }}"></script>
<script src="{{ assetsUrl('/public/web/app.js') }}"></script>
{% block page_script %}{% endblock page_script %}
</html>
