{% extends "admin/layout.njk" %}

{% block page_title %} {{ httpErrors(statusCode).message }} | {{ app_name }} {% endblock page_title %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ statusCode ~ ' ' ~ httpErrors(statusCode).message }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ adminRoute() }}">Home</a></li>
            <li class="breadcrumb-item active">{{ statusCode ~ ' ' ~ httpErrors(statusCode).message }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-danger">{{ statusCode }}</h2>
      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> {{ httpErrors(statusCode).message }}.</h3>
        <p>
          We will work on fixing that right away.
          Meanwhile, you may <a href="{{ adminRoute() }}">return to dashboard</a> or try using the search form.
        </p>

        {% if httpErrors(statusCode).message !== error.message %}
          <code><p>{{ error.message }}</p></code>
        {% endif %}
        <form class="search-form" action="{{ adminRoute('/search') }}">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-danger"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
